@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root{
    --neon-btn-one: #ffcc33;
    --neon-btn-two: #2196f3;
    --background-black: #000814;
    --background-blue: #021222;
    --modal-background: #424651;
}

*{
    outline: none !important;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none;
    /* -ms-overflow-style: none;
    overflow-x: hidden; */
}

body::-webkit-scrollbar{
    display: none;
}

.register.container-fluid{
    width: 30rem;
}

.register .card{
    top: 50%;
    transform: translateY(25%);
}

.card-title{
    letter-spacing: 0.8rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg{
    color: crimson;
}

